/*Start Estilos NavBar*/
nav {
  background-color: map-get($colores-caja, negro);
}

/*Start Animation NavBar*/
nav ul li a {
  position: relative;
  color: #ecf0f1;
  text-transform: uppercase;
  transition: 0.5s;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
/*End Animation NavBar*/

.logo-navbar {
  width: 60px;
  height: 60px;
}

.carrito-btn1 {
  position: relative;
  color: white;
  cursor: pointer;
  margin-right: 30px;
  bottom: -8px;
  font-size: 1.75rem;
}

#carrito-contador {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orange;
  color: black;
  width: 25px;
  height: 25px;
  top: -12px;
  right: -8px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
}
/*End Estilos NavBar*/