/* Start Variables */
/* End Variables */
/*  Start Estilos Iniciales */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

main {
  margin-top: 110px;
}

.container-bg {
  background-color: #eeeeee;
  margin-top: 35px;
  margin-bottom: 35px;
}

.col {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-body {
  background-color: #eeeeee;
}

/* End Estilos Iniciales */
/*Start Estilos NavBar*/
nav {
  background-color: #201f1f;
}

/*Start Animation NavBar*/
nav ul li a {
  position: relative;
  color: #ecf0f1;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

/*End Animation NavBar*/
.logo-navbar {
  width: 50px;
}

.carrito-btn1 {
  position: relative;
  color: white;
  cursor: pointer;
  margin-right: 30px;
  bottom: -8px;
  font-size: 1.75rem;
}

#carrito-contador {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: orange;
  color: black;
  width: 25px;
  height: 25px;
  top: -12px;
  right: -8px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 700;
}

/*End Estilos NavBar*/
/*Start Estilos Carousel*/
#carouselExampleIndicators {
  margin-top: -34px;
}

.carousel-inner {
  width: 100%;
}

/*End Estilos Carousel*/
/*Start Estilos Inicio*/
.contenedor__gris__inicio, .contenedor__gris__contacto {
  background-color: #eeeeee;
  margin-top: 35px;
  margin-bottom: 35px;
}

.contenedor__gris__inicio__caja, .contenedor__gris__contacto__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 100%;
  height: auto;
}

.contenedor__gris__inicio__caja__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenedor__gris__inicio__caja__texto__title {
  font-size: 2.5rem;
}

.contenedor__gris__inicio__caja__texto__paragraph {
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contenedor__gris__inicio__caja__texto__button {
  background-color: #201f1f;
  color: white;
  border: 2px solid #201f1f;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.contenedor__gris__inicio__caja__texto__button:hover {
  background-color: white;
  border: none;
  color: #201f1f;
  border: 2px solid #201f1f;
}

.contenedor__gris__inicio__caja__imagen, .contenedor__gris__contacto__caja__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  width: 70%;
}

.section__2__inicio__contenedor {
  margin-top: 35px;
  margin-bottom: 35px;
}

.section__2__inicio__contenedor__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  padding: 25px;
}

.section__2__inicio__contenedor__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__2__inicio__contenedor__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__2__inicio__contenedor__button__btn {
  background-color: #201f1f;
  color: white;
  border: 2px solid #201f1f;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin-top: 30px;
  margin-bottom: 15px;
}

.section__2__inicio__contenedor__button__btn:hover {
  background-color: white;
  border: none;
  color: #201f1f;
  border: 2px solid #201f1f;
}

.section__2__inicio__contenedor__cards .card {
  margin-right: 30px;
  margin-left: 30px;
  width: 20%;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 4s linear infinite;
          animation: textclip 4s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*End Estilos Inicio*/
/* Start Estilos Nosotros */
.nosotros__card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nosotros__card__container .card {
  margin-right: 30px;
  margin-left: 30px;
}

.card-text {
  font-size: 1.5rem;
}

.contenedor__gris__nosotros {
  background-color: #eeeeee;
  margin-top: 35px;
  margin-bottom: 35px;
}

.contenedor__gris__nosotros__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 100%;
  height: auto;
}

.contenedor__gris__nosotros__caja__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenedor__gris__nosotros__caja__texto__title {
  font-size: 2.5rem;
}

.contenedor__gris__nosotros__caja__texto__paragraph {
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contenedor__gris__nosotros__caja__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.contenedor__gris__nosotros__caja__imagen img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
}

/* End Estilos Nosotros */
/* Start Estilos Productos */
/* Start Estilos Cards */
.productos-card-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 35px;
}

.productos-card-container .card {
  width: 80%;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 35px;
}

.card-contenedor-imagen {
  position: relative;
  overflow: hidden;
}

.card-imagen {
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card-contenedor-imagen:hover .card-imagen {
  opacity: 0.5;
}

.carrito-btn2 {
  position: absolute;
  top: 75%;
  right: 0;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  background: orange;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
}

@media screen and (min-width: 1065px) and (max-width: 1174px) {
  .carrito-btn2 {
    top: 75%;
    letter-spacing: 0;
    padding: 0.3rem 0.5rem;
  }
}

@media screen and (min-width: 1175px) and (max-width: 1315px) {
  .carrito-btn2 {
    letter-spacing: 0;
  }
}

.carrito-btn2:hover {
  color: white;
}

.card-contenedor-imagen:hover .carrito-btn2 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fa-solid {
  margin-right: 0.5rem;
}

.card-precio {
  color: crimson;
  font-size: 1.5rem;
}

/* End Estilos Cards */
/* Start Estilos Carrito */
.carrito-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(110, 94, 78, 0.5);
  z-index: 2;
  visibility: hidden;
}

.carrito-principal {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: white;
  padding: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.carrito-mostrar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carrito-magia {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .carrito-principal {
    width: 30vw;
    min-width: 450px;
  }
}

.carrito-cerrar {
  font-size: 2.5rem;
  cursor: pointer;
}

.carrito-titulo {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/* Start Estilos Producto de Muestra del Carrito */
.carrito-producto {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.carrito-producto-imagen {
  width: 100px;
  height: 100px;
}

.carrito-producto-nombre {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.carrito-producto-precio {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.carrito-producto-borrar {
  color: crimson;
  cursor: pointer;
  font-size: 1.2rem;
}

.carrito-producto-cantidad {
  text-align: center;
  margin-bottom: -3px;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #f09d51;
  cursor: pointer;
}

/* End Estilos Producto de Muestra del Carrito */
.carrito-pie {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.carrito-pie h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #222;
}

/* End Estilos Productos */
/* Start Estilos Servicios */
.servicios__card__container__1, .servicios__card__container__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.servicios__card__container__1__card, .servicios__card__container__2__card {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  width: 30%;
}

.servicios__card__container__1__card__title, .servicios__card__container__2__card__title {
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* Start Estilos Contacto */
.contenedor__gris__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 80vh;
}

.contenedor__gris__contacto__caja__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-top: -40px;
}

.contenedor__gris__contacto__caja__imagen img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
}

.contacto__footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

/*End Estilos Contacto */
/*  Start Media Queries */
/*  Start Extra Small Devices */
@media screen and (max-width: 576px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja, .contenedor__gris__contacto__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 100%;
  }
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__title {
    font-size: 1.5rem;
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__paragraph {
    font-size: 1.25rem;
  }
  .contenedor__gris__inicio__caja__texto__button {
    padding: 04px 15px;
    font-size: 1.1rem;
  }
  .contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
    width: 55%;
    height: auto;
  }
  .section__2__inicio__contenedor__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 50px;
    width: 35%;
  }
  .section__2__inicio__contenedor__button__btn {
    margin-top: -55px;
    padding: 04px 15px;
    font-size: 1.1rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros__card__container__texto {
    font-size: 1.25rem;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 55%;
    font-size: 1.25rem;
  }
  .contenedor__gris__nosotros__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__nosotros__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__title {
    font-size: 1.5rem;
  }
  .contenedor__gris__nosotros__caja__texto__paragraph {
    font-size: 1.25rem;
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 65%;
    height: auto;
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1, .servicios__card__container__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios__card__container__1__card, .servicios__card__container__2__card {
    margin-bottom: 50px;
    width: 60%;
  }
  .servicios__card__container__1__card__title, .servicios__card__container__2__card__title {
    font-size: 1.5rem;
  }
  .servicios__card__container__1__card__text, .servicios__card__container__2__card__text {
    font-size: 1.25rem;
  }
  /* End Servicios */
}

/*  End Extra Small Devices */
/* Start Small Devices */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja, .contenedor__gris__contacto__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__title {
    font-size: 1.65rem;
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__paragraph {
    font-size: 1.35rem;
  }
  .contenedor__gris__inicio__caja__texto__button {
    padding: 06px 19px;
    font-size: 1.15rem;
  }
  .contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
    width: 55%;
    height: auto;
  }
  .section__2__inicio__contenedor__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 30px;
    width: 35%;
  }
  .section__2__inicio__contenedor__button__btn {
    margin-top: -5px;
    padding: 06px 19px;
    font-size: 1.15rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros__card__container__texto {
    font-size: 1.35rem;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 55%;
  }
  .contenedor__gris__nosotros__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__nosotros__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__title {
    font-size: 1.75rem;
  }
  .contenedor__gris__nosotros__caja__texto__paragraph {
    font-size: 1.35rem;
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 65%;
    height: auto;
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1, .servicios__card__container__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios__card__container__1__card, .servicios__card__container__2__card {
    margin-bottom: 50px;
    width: 55%;
  }
  .servicios__card__container__1__card__title, .servicios__card__container__2__card__title {
    font-size: 1.5rem;
  }
  .servicios__card__container__1__card__text, .servicios__card__container__2__card__text {
    font-size: 1.25rem;
  }
  /* End Servicios */
}

/* End Small Devices */
/* Start Medium Devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja, .contenedor__gris__contacto__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__title {
    font-size: 1.75rem;
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__paragraph {
    font-size: 1.45rem;
  }
  .contenedor__gris__inicio__caja__texto__button {
    padding: 08px 23px;
    font-size: 1.2rem;
  }
  .contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
    width: 50%;
    height: auto;
  }
  .section__2__inicio__contenedor__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 50px;
    width: 35%;
  }
  .section__2__inicio__contenedor__button__btn {
    margin-top: -15px;
    padding: 08px 23px;
    font-size: 1.2rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 55%;
  }
  .contenedor__gris__nosotros__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__nosotros__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__title {
    font-size: 1.75rem;
  }
  .contenedor__gris__nosotros__caja__texto__paragraph {
    font-size: 1.45rem;
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 65%;
    height: auto;
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1, .servicios__card__container__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios__card__container__1__card, .servicios__card__container__2__card {
    margin-bottom: 50px;
    width: 50%;
  }
  .servicios__card__container__1__card__title, .servicios__card__container__2__card__title {
    font-size: 1.65rem;
  }
  .servicios__card__container__1__card__text, .servicios__card__container__2__card__text {
    font-size: 1.4rem;
  }
  /* End Servicios */
}

/* End Medium Devices */
/* Start Large Devices */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja, .contenedor__gris__contacto__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__title {
    font-size: 2.25rem;
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__paragraph {
    font-size: 1.7rem;
  }
  .contenedor__gris__inicio__caja__texto__button {
    padding: 10px 27px;
    font-size: 1.25rem;
  }
  .contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
    width: 50%;
    height: auto;
  }
  .section__2__inicio__contenedor__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 50px;
    width: 35%;
  }
  .section__2__inicio__contenedor__button__btn {
    margin-top: -15px;
    padding: 10px 27px;
    font-size: 1.25rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 55%;
  }
  .nosotros__card__container__texto {
    font-size: 1.65rem;
  }
  .contenedor__gris__nosotros__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__nosotros__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__title {
    font-size: 2rem;
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__paragraph {
    font-size: 1.55rem;
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 65%;
    height: auto;
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1, .servicios__card__container__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .servicios__card__container__1__card, .servicios__card__container__2__card {
    width: 40%;
  }
  .servicios__card__container__1__card__title, .servicios__card__container__2__card__title {
    font-size: 1.75rem;
  }
  .servicios__card__container__1__card__text, .servicios__card__container__2__card__text {
    font-size: 1.55rem;
  }
  /* End Servicios */
}

/* End Large Devices */
/* Start Extra Large Devices */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__inicio__caja__texto__title {
    font-size: 2.25rem;
  }
  .contenedor__gris__inicio__caja__texto__paragraph {
    font-size: 1.65rem;
  }
  .contenedor__gris__inicio__caja__texto__button {
    padding: 10px 27px;
  }
  .contenedor__gris__inicio__caja__imagen img, .contenedor__gris__contacto__caja__imagen img {
    width: 90%;
    height: auto;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-top: -10px;
  }
  /* End Inicio */
  /* Start Nosotros */
  .contenedor__gris__nosotros__caja {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor__gris__nosotros__caja__texto {
    margin-top: 15px;
  }
  .contenedor__gris__nosotros__caja__texto__title {
    font-size: 2.25rem;
  }
  .contenedor__gris__nosotros__caja__texto__paragraph {
    font-size: 1.65rem;
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 60%;
    height: auto;
  }
  /* End Nosotros */
}

/* End Extra Large Devices */
/* Start Medias Productos */
@media screen and (max-width: 576px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .productos-card-container .card {
    width: 55%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .productos-card-container .card {
    width: 75%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1065px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .productos-card-container .card {
    width: 75%;
  }
}

@media screen and (min-width: 1065px) and (max-width: 1200px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .productos-card-container .card {
    width: 85%;
  }
}

@media screen and (min-width: 1200px) {
  .productos-card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

/*End Medias Productos */
/* Media Especial Servicios */
@media screen and (min-width: 992px) {
  .servicios__card__container__2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

/* End Media Queries */
/*# sourceMappingURL=estilos.css.map */