/* Start Variables */
$colores-caja: (
  "negro": #201f1f,
  "gris": #eeeeee,
);

@mixin contenedor-gris {
  background-color: map-get($colores-caja, gris);
  margin-top: 35px;
  margin-bottom: 35px;
}

@mixin flex-space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Variables */
/*  Start Estilos Iniciales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

main {
  margin-top: 110px;
}

.container-bg {
  @include contenedor-gris;
}

.col {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-body {
  background-color: map-get($colores-caja, gris);
}
/* End Estilos Iniciales */

/*Start Estilos NavBar*/
nav {
  background-color: map-get($colores-caja, negro);
}

/*Start Animation NavBar*/
nav ul li a {
  position: relative;
  color: #ecf0f1;
  text-transform: uppercase;
  transition: 0.5s;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ff7000;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
/*End Animation NavBar*/

.logo-navbar {
  width: 50px;
}
/*End Estilos NavBar*/

/*Start Estilos Carousel*/
#carouselExampleIndicators {
  margin-top: -34px;
}

.carousel-inner {
  width: 100%;
}
/*End Estilos Carousel*/

/*Start Estilos Inicio*/
.contenedor__gris__inicio {
  @include contenedor-gris;
  &__caja {
    @include flex-space;
    padding: 15px;
    width: 100%;
    height: auto;
    &__texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      &__title {
        font-size: 3rem;
      }
      &__paragraph {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      &__button {
        background-color: map-get($colores-caja, negro);
        color: white;
        border: 2px solid map-get($colores-caja, negro);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.5rem;
        border-radius: 8px;
        transition-duration: 0.4s;
        &:hover {
          background-color: white;
          border: none;
          color: map-get($colores-caja, negro);
          border: 2px solid map-get($colores-caja, negro);
        }
      }
    }
    &__imagen {
      @include flex-center;
      width: 100%;
      height: auto;
      & img {
        height: fit-content;
        border-radius: 20px;
        width: 95%;
      }
    }
  }
}

.section__2__inicio__contenedor {
  margin-top: 35px;
  margin-bottom: 35px;
  &__title {
    @include flex-center;
    margin-bottom: 25px;
    padding: 30px;
  }
  &__cards {
    display: flex;
    justify-content: space-evenly;
  }
  &__button {
    @include flex-center;
    &__btn {
      background-color: map-get($colores-caja, negro);
      color: white;
      border: 2px solid map-get($colores-caja, negro);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.5rem;
      border-radius: 8px;
      transition-duration: 0.4s;
      margin-top: 15px;
      margin-bottom: 15px;
      &:hover {
        background-color: white;
        border: none;
        color: map-get($colores-caja, negro);
        border: 2px solid map-get($colores-caja, negro);
      }
    }
  }
}

.section__2__inicio__contenedor__cards .card {
  margin-right: 30px;
  margin-left: 30px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*End Estilos Inicio*/

/* Start Estilos Nosotros */
.nosotros__card__container {
  display: flex;
  justify-content: space-evenly;
}

.nosotros__card__container .card {
  margin-right: 30px;
  margin-left: 30px;
}

.card-text {
  font-size: 1.5rem;
}

.contenedor__gris__nosotros {
  @include contenedor-gris;
  &__caja {
    @include flex-space;
    padding: 15px;
    width: 100%;
    height: auto;
    &__texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      &__title {
        font-size: 3rem;
      }
      &__paragraph {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
    &__imagen {
      @include flex-center;
      width: 100%;
      height: auto;
      & img {
        height: fit-content;
        width: 95%;
      }
    }
  }
}
/* End Estilos Nosotros */

/* Start Estilos Productos */
.productos__card__container {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  margin-bottom: 35px;
}

.productos__card__container .card {
  margin-left: 25px;
  margin-right: 20px;
}
/* End Estilos Productos */

/* Start Estilos Servicios */
.servicios__card__container__1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: stretch;
  &__card {
    margin-right: 30px;
    margin-left: 30px;
    width: 37%;
    &__title {
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}

.servicios__card__container__2 {
  @extend .servicios__card__container__1;
  &__card {
    @extend .servicios__card__container__1__card;
    &__title {
      @extend .servicios__card__container__1__card__title;
    }
    &__text {
      @extend .servicios__card__container__1__card__text;
    }
  }
}

/* Start Estilos Contacto */
.contenedor__gris__contacto {
  @extend .contenedor__gris__inicio;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 80vh;
  &__caja {
    @extend .contenedor__gris__inicio__caja;
    &__imagen {
      @extend .contenedor__gris__inicio__caja__imagen;
      & img {
        height: fit-content;
        width: 95%;
      }
    }
  }
}

.contacto__footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*End Estilos Contacto */

/*  Start Media Queries */
/*  Start Extra Small Devices */
@media screen and (max-width: 576px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 1.5rem;
        margin-top: 15px;
      }
      &__paragraph {
        font-size: 1.25rem;
      }
      &__button {
        padding: 04px 15px;
        font-size: 1.1rem;
      }
    }
    &__imagen img {
      width: 75%;
      height: auto;
    }
  }
  .section__2__inicio__contenedor__cards {
    flex-direction: column;
    align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 30px;
    width: 65%;
  }
  .section__2__inicio__contenedor__button__btn {
    padding: 04px 15px;
    font-size: 1.1rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    flex-direction: column;
    align-items: center;
    &__texto {
      font-size: 1.25rem;
    }
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 80%;
    font-size: 1.25rem;
  }
  .contenedor__gris__nosotros__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 1.5rem;
      }
      &__paragraph {
        font-size: 1.25rem;
      }
    }
    &__imagen img {
      width: 95%;
      height: auto;
    }
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
      margin-bottom: 50px;
      width: 80%;
      &__title {
        font-size: 1.5rem;
      }
      &__text {
        font-size: 1.25rem;
      }
    }
  }
  /* End Servicios */
}
/*  End Extra Small Devices */

/* Start Small Devices */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 1.75rem;
        margin-top: 15px;
      }
      &__paragraph {
        font-size: 1.3rem;
      }
      &__button {
        padding: 06px 19px;
        font-size: 1.15rem;
      }
    }
    &__imagen img {
      width: 70%;
      height: auto;
    }
  }
  .section__2__inicio__contenedor__cards {
    flex-direction: column;
    align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 30px;
    width: 60%;
  }
  .section__2__inicio__contenedor__button__btn {
    padding: 06px 19px;
    font-size: 1.15rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    flex-direction: column;
    align-items: center;
    &__texto {
      font-size: 1.35rem;
    }
  }

  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 80%;
  }
  .contenedor__gris__nosotros__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 1.75rem;
      }
      &__paragraph {
        font-size: 1.35rem;
      }
    }
    &__imagen img {
      width: 90%;
      height: auto;
    }
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
      margin-bottom: 50px;
      width: 80%;
      &__title {
        font-size: 1.5rem;
      }
      &__text {
        font-size: 1.25rem;
      }
    }
  }
  /* End Servicios */
}
/* End Small Devices */

/* Start Medium Devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 2rem;
        margin-top: 15px;
      }
      &__paragraph {
        font-size: 1.5rem;
      }
      &__button {
        padding: 08px 23px;
        font-size: 1.2rem;
      }
    }
    &__imagen img {
      width: 65%;
      height: auto;
    }
  }
  .section__2__inicio__contenedor__cards {
    flex-direction: column;
    align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 30px;
    width: 60%;
  }
  .section__2__inicio__contenedor__button__btn {
    padding: 08px 23px;
    font-size: 1.2rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    flex-direction: column;
    align-items: center;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 75%;
  }
  .contenedor__gris__nosotros__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 2rem;
      }
      &__paragraph {
        font-size: 1.5rem;
      }
    }
    &__imagen img {
      width: 90%;
      height: auto;
    }
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
      margin-bottom: 50px;
      width: 75%;
      &__title {
        font-size: 1.65rem;
      }
      &__text {
        font-size: 1.4rem;
      }
    }
  }
  /* End Servicios */
}
/* End Medium Devices */

/* Start Large Devices */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 2.25rem;
        margin-top: 15px;
      }
      &__paragraph {
        font-size: 1.7rem;
      }
      &__button {
        padding: 10px 27px;
        font-size: 1.25rem;
      }
    }
    &__imagen img {
      width: 60%;
      height: auto;
    }
  }
  .section__2__inicio__contenedor__cards {
    flex-direction: column;
    align-items: center;
  }
  .section__2__inicio__contenedor__cards .card {
    margin-bottom: 30px;
    width: 55%;
  }
  .section__2__inicio__contenedor__button__btn {
    padding: 10px 27px;
    font-size: 1.25rem;
  }
  /* End Inicio */
  /* Start Nosotros */
  .nosotros__card__container {
    flex-direction: column;
    align-items: center;
  }
  .nosotros__card__container .card {
    margin-bottom: 50px;
    width: 75%;
  }
  .nosotros__card__container__texto {
    font-size: 1.65rem;
  }
  .contenedor__gris__nosotros__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 2.25rem;
        margin-top: 15px;
      }
      &__paragraph {
        font-size: 1.65rem;
      }
    }
    &__imagen img {
      width: 75%;
      height: auto;
    }
  }
  /* End Nosotros */
  /* Start Servicios */
  .servicios__card__container__1 {
    display: flex;
    align-items: center;
    align-items: stretch;
    &__card {
      width: 75%;
      &__title {
        font-size: 1.75rem;
      }
      &__text {
        font-size: 1.55rem;
      }
    }
  }
  /* End Servicios */
}
/* End Large Devices */

/* Start Extra Large Devices */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* Start Inicio */
  .contenedor__gris__inicio__caja__texto {
    margin-top: 15px;
    &__title {
      font-size: 2.5rem;
    }
    &__paragraph {
      font-size: 1.7rem;
    }
    &__button {
      padding: 10px 27px;
    }
  }
  .contenedor__gris__inicio__caja__imagen img {
    width: 90%;
    height: auto;
  }
  /* End Inicio */
  /* Start Nosotros */
  .contenedor__gris__nosotros__caja {
    display: flex;
    flex-direction: column;
    &__texto {
      margin-top: 15px;
      &__title {
        font-size: 2.5rem;
      }
      &__paragraph {
        font-size: 1.7rem;
      }
    }
  }
  .contenedor__gris__nosotros__caja__imagen img {
    width: 80%;
    height: auto;
  }
  /* End Nosotros */
}
/* End Extra Large Devices */

/* Start Medias Productos */
@media screen and (max-width: 576px) {
  .productos__card__container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__card {
      width: 70%;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .productos__card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .productos__card__container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .productos__card__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .productos__card__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*End Medias Productos */

/* Media Especial Servicios */
@media screen and (min-width: 992px) {
  .servicios__card__container__2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
/* End Media Queries */
